*~
*.o
/cpp/.sconsign.dblite
/cpp/builders.pyc
/cpp/gemServer

**/#.*#
#*#
.#*

/js/bower_components/**
/js/node_modules/**
/js/from_repo/**
/js/.depend/**
/js/#gemExperiment.js#
js/images
*.pyc

/javaSlice/target/**
/java/.idea/**
java/core/target/**
java/.idea/**
